# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.class
*.classpath
bin/AndroidManifest.xml
bin/R.txt
gen/android/support/v7/appcompat/R.java
gen/info/shangma/vrrobot/BuildConfig.java
gen/info/shangma/vrrobot/R.java
libs/android-support-v4.jar
proguard-project.txt
project.properties
res/drawable-hdpi/ic_launcher.png
res/drawable-mdpi/ic_launcher.png
res/drawable-xhdpi/ic_launcher.png
res/menu/voice_recognition.xml
res/values-v11/styles.xml
res/values-v14/styles.xml
res/values-w820dp/dimens.xml
res/values/dimens.xml
res/values/strings.xml
res/values/styles.xml
*.apk
*.ap_
*.dex
*.jar
*.cache
bin/res/crunch/drawable-hdpi/ic_launcher.png
bin/res/crunch/drawable-mdpi/ic_launcher.png
bin/res/crunch/drawable-xhdpi/ic_launcher.png